{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Story 8</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% endblock %}
    
</head>
<body>

    {% block content %}
    <p><i class="fas fa-search"></i> Search
        <input id="keyword" class="form-control" placeholder="Enter keyword" style="width: 15%;">
    </p><br>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Book Title</th>
                <th scope="col">Cover</th>
                <th scope="col">Author</th>
            </tr>
            </thead>
            <tbody id="hasil">
            
            </tbody>
        </table>
    </div>

    <script type="text/javascript" src="{% static 'js/books.js' %}"></script>
    {% endblock %}
    
</body>
</html>
