{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  {% block meta %}
  {% endblock meta %}
</head>

{% block navbar %}
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand logo custom-margin" href="#">arnindyazvr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto custom-margin">
            <a class="nav-link nav-links" href="{% url 'story1:home' %}">Home</a>
            <a class="nav-link nav-links" href="{% url 'story1:about' %}">About</a>
            <a class="nav-link nav-links" href="{% url 'story1:education' %}">Education</a>
            <a class="nav-link nav-links " href="{% url 'appstory3:project' %}">Project</a>
            <a class="nav-link nav-links " href="{% url 'jadwal:add' %}">Schedule</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-links" href="#" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Activity
              </a>
              <div class="dropdown-menu dropdown-style" aria-labelledby="dropdownMenuLink" style="background-color:#a4b9f0f9;">
                <a class="dropdown-item" href="{% url 'story7:accordion' %}" style="color: white;">Accordion</a>
                <a class="dropdown-item" href="{% url 'story8:buku' %}" style="color: white;">Books</a>
              </div>
        </div>
        {% if user.is_authenticated %}
        <a class="nav-link" style="color: white;" href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a class="nav-link" style="color: white;" href="{% url 'story9:signup' %}">Sign Up</a>
        <a class="nav-link" style="color: white;" href="{% url 'login' %}">Log In</a>
        {% endif %}

    </div>
  </nav>
{% endblock navbar %}

  {% block content %}
  {% endblock content %}
</body>

</html>
