<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arnindya Zhavira</title>
    <link rel="shortcut icon" href="{% static 'img/Title_IMG.png' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    {% block content %}
<body>
    {% if user.is_authenticated %}
        <div id="grad1">
            <div class="center-content">
                <h2>Hi {{ user }}! Welcome to my page</h2><br></br>
                <h3>Find Me on</h3><br>
                <div class="social-media">
                    <a href="https://www.instagram.com/arnindyazhavira/" class="fa fa-instagram"></a>
                    <a href="https://www.linkedin.com/in/arnindya-zhavira-454955173/" class="fa fa-linkedin"></a>
                </div>
            </div>
        </div>
    
    {% else %}

    <style>
    body {
        background-image: url("bg_body.png");
    }
    </style>
    <section>
        <!--text--->
            <div class="text-container">
                    <p>Hello,</p>
                    <p>I'm Arnin</p>
                    <p>Welcome to my first website, take your time and enjoy the visit!</p>
            </div>
    </section>
    <div class="about-container" id="about">
    <!--img-->
        <img src="{% static 'img/model.png' %}">
    <!--about-me-text-->
    <div class="col-md-6">
        <div class="about-text">
            <p>A Little Bit About Me</p>
            <p>Hi! My name is Arnindya Zhavira, people usually call me Arnin. 
                I am currently a sophomore at University of Indonesia majoring in Computer Science. 
                Besides academic-related things i love to cook, i’m also a mother of 10 cats and i love them so much!</p>
        </div>
    </div>
    </div>
<!--Education-->
    <div class="education" id="education">
        <!--text-->
        <div class="education-text ">
    <p>Educational Background</p>
            </div>
        <div class="box-container">
            <!--1------------->
                <div class="box-1">
                <p class="heading">SMPN 19 Jakarta</p>
                <p class="details">year: 2013 - 2016</p>
                </div>
            <!--2------------->
                <div class="box-2">
                <p class="heading">SMAN 70 Jakarta</p>
                <p class="details">year: 2016 - 2019</p>
                </div>
            <!--3------------->
                <div class="box-3">
                <p class="heading">Universitas Indonesia</p>
                <p class="details">year: 2019 - present</p>
                </div>
            </div>
        </div>
    <!--footer--------------->
 <footer class="footer">
    <!--heading-->
 <p>Reach Me!</p>
    <!--social-->
   <div class="social-icons">
    <a href="https://wa.me/081805170869"><img class="social-icons" src="{% static 'img/wa-logo.png' %}"/></a>
    <a href="https://www.instagram.com/arnindyazhavira/"><img class="social-icons" src="{% static 'img/ig_logo.png' %}"/></a>
    <a href="https://www.twitter.com/arnindyaazvr/"><img class="social-icons" src="{% static 'img/twitter_logo.png' %}"/></a>
   </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% endif %}
</body>
        {% endblock content %}
</html>