@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    font-family: 'Lora', serif;
}
p i{
    margin-left: 48%;
    margin-top: 30px;
}
input{
    margin-left: 45%;
    margin-top: 30px;
}
table thead{
    text-align: center;
    background-color: #a4b9f0f9;
}
table tbody{
    background-color: whitesmoke;
}
