/* Project-wide style */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Epilogue:200,300,500,700');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

body{
  margin:0px;
  padding:0px;
  background-image: url("/static/img/bg_body.png")
 }
 html{
   scroll-behavior: smooth;
 }
 ul{
  list-style:none;
 }
 a{
  text-decoration:none;
 }
 section{
     width:100%;
     height:100vh;
     background-image:url("/static/img/bg_section.png");
     background-size:cover;
     background-repeat:no-repeat;
     position: relative;
 }
 nav {
     display: flex;
     justify-content: space-between;
     align-items:center;
     height:60px;
     background-color:#ffffff;
     box-shadow:2px 2px 12px rgba(0,0,0,0.2);
     padding:0px 5%;
 }
 .nav-links {
     margin-left: 30px;
     color: #1d1c1c;
     font-family:RoadTest;
     text-decoration:none;
 }
 .nav-links:hover{
     color: #b996b3;
 }
 nav ul{
     display: flex;
 }
 
 .logo{
     font-family:RoadTest;
     color:#000000;
     font-size: 22px;
 }
 
 .text-container p:nth-child(1){
     font-family: calibri;
     font-style: oblique;
     font-weight:bold;
     color: #ddd2d2;
     font-size:22px;
 }
 .text-container p:nth-child(2){
     font-family: 'Playfair Display', serif;
     font-weight:bold;
     letter-spacing:1px;
     color:#ffffff;
     font-size:60px;
 
 }
 .text-container p:nth-child(3){
     font-family: 'Crimson Text', serif;
     color: #ddd2d2;
     font-size:25px;
     line-height:30px;
 }
 
 .text-container p{
     margin:45px 0px 25px;
     line-height:0px;
 }
 
 .text-container{
     position: absolute;
     left:13%;
     top:42%;
     transform:translate(-13%,-42%);
 }
 .about-container{
  width:80%;
  height:330px;
  background:#ffffff;
  border-radius:20px;
  box-shadow:2px 2px 12px rgba(0,0,0,0.2);
  display: flex;
  margin: -7%  auto 20px auto;
  position: relative;
  justify-content:space-evenly;
  align-items: center;
 }
 .about-container img{
  height:250px;
 }
 .about-text{
  width:500px;
 } 
 .about-text p:nth-child(1){
  color:#403e3e;
  font-family: 'Abril Fatface', cursive;
  font-size:23px;
  line-height:0px;
 }
 
 .about-text p:nth-child(2),.about-text p:nth-child(4){
  color:#7e7d7d;
  font-family: 'Crimson Text', serif;
  font-size:16px;
 }
 
 .education{
     height:600px;
     background-image: url("/static/img/bg_body.png");
     padding: 2% 10% 0px 10%;
 }
 .education-text p:nth-child(1){
     font-family: 'Abril Fatface', cursive;
     color:#1d1c1c;
     font-size:30px;
     line-height:0px;
 }
 
 
 .education-text{
     width: 500px;
     margin:50px 0px;
 }
 .box-container{
     display:flex;
     justify-content:space-between;
 }
 .box-1,.box-2,.box-3{
     width: 300px;
     height:320px;
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow:2px 2px 18px rgba(0,0,0,0.3);
     align-items: center;
     justify-content: center;
     display: flex;
     flex-direction: column;
     margin: 0px 4px;
 
 }
 
 .box-1{
     background-image:url("/static/img/bced_3.png");
 }
 .box-2{
     background-image:url("/static/img/bced_3.png");
 }
 .box-3{
     background-image: url("/static/img/bced_3.png");
 }
 
 .box-1, .box-2, .box-3 p{
     font-family: 'Crimson Text', serif;
 }
 .box-1 p:nth-child(1){
     color:#8F8F8F;
     font-family: 'Crimson Text', serif;
     font-size: 20px;
     line-height:0px;
 }
 .box-1 p:nth-child(2){
     font-family: 'Crimson Text', serif;
     color:#000000;
     text-align:center;
     width: 230px;
     margin:0px;
 }
 .box-2 p:nth-child(1){
     color: #8F8F8F;
     text-align: center;
     font-size: 20px;
     line-height: 0px;
 }
 .box-2 p:nth-child(2){
     color: #000000;
     text-align: center;
     width: 230px;
     margin: 0px
 }
 
 .box-3 p:nth-child(1){
     color: #8F8F8F;
     text-align: center;
     font-size: 20px;
     line-height: 0px;
 }
 
 .box-3 p:nth-child(2){
     color: #000000;
     text-align: center;
     width: 230px;
     margin: 0px
 }
 .footer {
  font-family: 'Abril Fatface', cursive;
  font-size: 35px;
  background-image: url("/static/img/bg_footer.png");
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
 }
 .social-icons img {
     width: 40px;
     height: 40px;
     margin: 0px 10px 0px;
   }
 .social-icons{
  display: flex;
 
 }
 
 .projects{
     position: relative;
 }
 .projects img{
     display: block;
     margin-top: 5px;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
 }
 .projects2{
     position: relative;
 }
 .projects2 img{
     margin-top: 5px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
 }
 
 .projects3{
     position: relative;
 }
 .projects3 img{
     margin-top: 5px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
 }
  
 .addsched{
     position: absolute;
 }

 .addsched p{
     font-family: 'Epilogue', sans-serif;
     text-align: center;
     color: #ffffff;
 }

.detail{
    font-size: 16px;
    color: white;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    padding: 30px;
}

.detail table{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}