{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Story 7</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/accordion.css' %}"> 
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
    {% block content %}
    <button class="accordion">Current Activities</button>
    <div class="panel">
        <p>Hidup tugas pacil</p>
    </div>

    <button class="accordion">Achievements</button>
    <div class="panel">
        <p>Pernah juara 1 lomba nyanyi :)</p>
    </div>

    <button class="accordion">Experiences</button>
    <div class="panel">
        <p>Panitia SETARA SMAN 70 Jakarta</p>
        <p>Staff of Partnership COMPFEST 12</p>
        <p>Staff of Business Development PERAK</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
    </script>
    
</body>
{% endblock %}
</html>
