<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arnindya Zhavira</title>
    <link rel="shortcut icon" href="{% static 'img/Title_IMG.png' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body {
            background-image: url("bg_body.png");
        }
    </style>
</head>
    {% block content %}
<body>
    <div class="detail"></div>
        <p>DETAIL</p>
        <br>
        <p style="font-size: 20px;">Subject : {{ detail.Subject }}</p>
        <br>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Lectures</th>
                <td>{{ detail.Lecturer }}</td>
            </tr>
            <tr>
                <th scope="col">Number of Credits</th>
                <td>{{ detail.Credit }}</td>
            </tr>
            <tr>
                <th scope="col">Semester</th>
                <td>{{ detail.Semester }}</td>
            </tr>
            <tr>
                <th scope="col">Room</th>
                <td>{{ detail.Room }}</td>
            </tr>
            </thead>
            <tbody>


            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
    {% endblock content %}
</html>
    