<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arnindya Zhavira</title>
    <link rel="shortcut icon" href="{% static 'img/Title_IMG.png' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body {
            background-image: url("bg_body.png");
        }
    </style>
</head>
    {% block content %}
<body>
    <p style="color: white; font-family: ;">SCHEDULE</p>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope = "col">Subject</th>
            <th scope = "col">Lecturer</th>
            <th scope = "col">Number of Credits</th>
            <th scope = "col">Description</th>
            <th scope = "col">Semester</th>
            <th scope = "col">Room</th>
            <th scope = "col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for sched in jadwal %}
        <tr>
            <td>
                <a href="{% url 'jadwal:detail' id=sched.id %}">{{ sched.Subject }}</a>
            </td>
            <td>
                {{ sched.Lecturer }}
            </td>
            <td style="text-align: center;">
                {{ sched.Credit}}
            </td>
            <td>
                {{ sched.Description }}
            </td>
            <td>
                {{ sched.Semester }}
            </td>
            <td>
                {{ sched.Room }}
            </td>
            <td>
                <a class="btn" style="background-color: goldenrod; color: white;" href="{% url 'jadwal:delete' id=sched.id %}" role="button">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
    {% endblock content %}
</html>