<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arnindya Zhavira</title>
    <link rel="shortcut icon" href="{% static 'img/Title_IMG.png' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

    {% block content %}
<body>
    <style>
        body {
            background-image: url("/static/img/test2.png");
        }
    </style>
    <div class="projects">
        <img src="{% static 'img/sosbg.png' %}">
        <img src="{% static 'img/sosbg10.png' %}">
        <img src="{% static 'img/sosbg12.png' %}">
    </div>
    <div class="projects2">
        <img src="{% static 'img/sosbg3.png' %}">
        <img src="{% static 'img/sosbg4.png' %}">
        <img src="{% static 'img/sosbg7.png' %}">
        <img src="{% static 'img/story9.png' %}">
    </div>
    <div class="projects3">
        <img src="{% static 'img/one.png' %}">
        <img src="{% static 'img/three.png' %}">
    </div>
</body>
    {% endblock content %}

</html>